<app-header></app-header>
<div class="d-flex">
  <app-sidebar></app-sidebar>

  <div class="row row-cols-4 row-cols-lg-2 g-3 g-lg-2">
    <div class="col" style="width:18rem" *ngFor="let torneo of torneos; let i = index">
      <div></div>

      <button class="card" style="width: 100%;" [ngClass]="{'class2':(torneoId == torneo.id)}"  (click)="torneoId = torneo.id" (click)="mostrar=true" (click)="cambiaEstado()" >

        <div>
          <h2 class="text-center">{{torneo.formato.nombre}}</h2>
          <h2 class="card-title text-center">{{torneo.tienda.nombre}}</h2>
          <h5 class="text-center">{{torneo.fecha | date:'dd/MM/yy'}}</h5>
          <h5 class="text-center">{{torneo.fecha | date: 'shortTime'}}</h5>
          <h5 class="text-center">{{torneo.tienda.direccion}}</h5>

        </div>

      </button>

    </div>
  </div>
</div>
<br>
<br>
<br>


<div class="d-flex w-75 center m-auto">
  <div class="row row-cols-8 row-cols-lg-3 g-3 g-lg-2" *ngIf="mostrar">
    <div class="col card-group" style="width:18rem" *ngFor="let deck of decks; let i = index">


      <button class="card m-3" style="width: 100%;" [ngClass]="{'class2':(deckId == deck.id)}" (click)="deckId=deck.id" >
        <div >
          <img [src] = "getSafeUrl(deck.imagen)" alt="Red dot" width="100">


        </div>
        <div class="card-body">
          <h2 class="card-title text-center">{{deck.nombreBaraja}}</h2>
          <h5 class="text-center"> {{deck.formato.nombre}}</h5>
        <div class="mx-auto">
          <button class="btn btVerde" (click)="irAlDeckCarta(deck)" (click)="scroll(target)">Mostrar</button>
        </div>
        </div>

      </button>

    </div>

  </div>

</div>



<div class="d-grid gap-2 col-6 mx-auto mt-3">
<button class="btn btn-primary btnRojo" type="button" *ngIf="deckId!=0 && torneoId!=0" (click)="enviarMazo()" >Inscríbete</button>
</div>
<div #target>
  <app-cartas-deck></app-cartas-deck>
</div>

