/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


body{
 /* background: url("/assets/fondo_negativo.png");*/
font-family: jost;
  color: #6e001e;
  font-weight: bold;

}
.bgnegro{
  background: url("src/assets/fondo_negativo.png");
}
.bgblanco{
  background: url("src/assets/fondo.jpg");
}
.bgazul{
  background: url("src/assets/fondo_azul.png");
}
.bgrojo{
  background: url("src/assets/fondo_rojo.png");
}
.bgverde{
  background: url("src/assets/fondo_verde.png");

}


