<app-header></app-header>
<div class="d-flex">
  <app-sidebar></app-sidebar>


  <div class="row m-auto row-cols-4 row-cols-lg-2 g-3 g-lg-2">
    <div class="col card-group" style="width:18rem" *ngFor="let deck of decks; let i = index">


      <div class="card" style="width: 100%;" >
        <div>
       <img [src] = "getSafeUrl(deck.imagen)" alt="Red dot" width="100">


      </div>
        <div class="card-body">
          <h2 class="card-title">{{deck.nombreBaraja}}</h2>
  <h5> {{deck.formato.nombre}}</h5>

          <button class="btn btVerde" (click)="irAlDeckCarta(deck)" (click)="scroll(target)">Desplegar</button>
        </div>

      </div>
</div>
    </div>

  </div>

  <div #target>
    <app-cartas-deck></app-cartas-deck>
  </div>

