
<h1 *ngIf="cargado">Main</h1>
<div class="ms-5 me-5">

<table *ngIf="cargado" class="table">
  <thead>
  <tr>

    <th scope="col">Cantidad</th>
    <th scope="col">nombre de la carta</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let carta of deckCarta; let i = index">
    <td *ngIf="carta.sideboard==false" > {{carta.copias}}</td>
    <td *ngIf="carta.sideboard==false">{{carta.carta.nombre}}</td>
    <div class="hover_img">
      <a href="#">Show Image<span><img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=405107&type=card" alt="image" height="100" /></span></a>
    </div>
  </tr>


  </tbody>
</table>
  <p  *ngIf="cargado">Cartas en el Main: {{cartasMain}}</p>
<h1 *ngIf="cargado">Sideboard</h1>
<table *ngIf="cargado" class="table">
  <thead>
  <tr>

    <th scope="col">Cantidad</th>
    <th scope="col">nombre de la carta</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let carta of deckCarta; let i = index">
    <td *ngIf="carta.sideboard"> {{carta.copias}}</td>
    <td *ngIf="carta.sideboard">{{carta.carta.nombre}}</td>
    <div class="hover_img">
      <a href="#">Show Image<span><img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=405107&type=card" alt="image" height="100" /></span></a>
    </div>
  </tr>


  </tbody>
</table>
  <p  *ngIf="cargado">Cartas en el banquillo: {{cartasSideboard}}</p>

</div>
