
<h1 *ngIf="cargado">Main</h1>
<div class="ms-5 me-5">

<table *ngIf="cargado" class="table">
  <thead>
  <tr>

    <th scope="col">Cantidad</th>
    <th scope="col">nombre de la carta</th>
    <th scope="col">imagen</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let carta of deckCarta; let i = index">
    <td *ngIf="carta.sideboard==false" > {{carta.copias}}</td>
    <td *ngIf="carta.sideboard==false">{{carta.carta.nombre}}</td>
    <td *ngIf="carta.sideboard==false" class="hover_img">
      <a href="#">Show Image<span><img src="{{carta.carta.imagen}}" alt="image" height="200" /></span></a>
    </td>
  </tr>
  </tbody>
</table>
  <p  *ngIf="cargado">Cartas en el Main: {{cartasMain}}</p>
<h1 *ngIf="cargado">Sideboard</h1>
<table *ngIf="cargado" class="table">
  <thead>
  <tr>

    <th scope="col">Cantidad</th>
    <th scope="col">nombre de la carta</th>

  </tr>
  </thead>
  <tbody >
  <tr *ngFor=" let carta of deckCarta; let i = index" >
    <td *ngIf="carta.sideboard"> {{carta.copias}}</td>
    <td *ngIf="carta.sideboard">{{carta.carta.nombre}}</td>
    <td *ngIf="carta.sideboard && carta.carta.imagen !='no imagen' "  class="hover_img">
      <a href="#">Show Image<span><img src="{{carta.carta.imagen}}" alt="image" height="200" /></span></a>
    </td>
  </tr>


  </tbody>
</table>
  <p  *ngIf="cargado">Cartas en el banquillo: {{cartasSideboard}}</p>

</div>
