<app-header></app-header>
<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="row row-cols-4 row-cols-lg-2 g-3 g-lg-2">
    <div class="col" style="width:18rem" *ngFor="let torneo of tusTorneos; let i = index">
      <div></div>

      <div class="card" style="width: 100%;" >

          <h2 class="card-title text-center">   {{torneo.tienda.nombre}}</h2>
          <h3 class="text-center">{{torneo.formato.nombre}}</h3>

        <h5 class="text-center"> {{torneo.fecha|date: 'dd/MM/yyyy'}}</h5>
        <h5 class="text-center">{{torneo.fecha|date:'shortTime'}}</h5>
      </div>

      </div>

    </div>
</div>
